
@media only screen and (min-width: 1200px){

    .header{
        position: relative;
        z-index: 1;
        background: #fff;
    }
    .banner{
        height: 80px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 200px;
            height: 200px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-60%);
            -webkit-transform: translateX(-50%) ;
            -moz-transform: translateX(-50%);
            z-index: -1;
            //  animation: Rotate 10s linear infinite;
            // -moz-animation: Rotate 10s linear infinite;
            // -webkit-animation: Rotate 10s linear infinite;
            
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 15%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        
        .event_main{
            margin: 30px 0;
            // border:1px solid;
            display: flex;
            justify-content: space-between;
            .content_left{
                flex-basis: 45%;
                .title:first-child
                {
                    margin: 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                    }
                }
                .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -90px;
                        z-index: -1;
                        width: 200px;
                        height: 100px;
                    }
                }
                
                .illustDesign{
                    margin: 30px 0;
                }
                .video_stream_container{
                    .steam_date_time{
                        margin: 15px 0;
    
                        h3{
                            font-weight: 600;
                        }
                    }
                }
                .post_comment_container{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;
                    textarea{
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100px;
                        max-height: 100px;
                        border-radius: 5px;
                        border: 1px solid;
                        margin: 5px 0;
                        padding: 5px 5px; 
                    }
                    input[type="submit"]{
                        margin: 5px 0;
                        width: 200px;
                        background: #FFFF00;
                        font-weight: 700;
                        color: #000;
                    }
                }
                .stream_description{
                    margin: 30px 0 10px 0;
                }
    
                
    
            } 
            .content_right{
                flex-basis: 45%;
                margin: 150px 0;
                .title
                {
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                    }
                }
                .illustDesign{
                    margin: 30px 0;
                }
    
                .comments_container{
                    height: 80vh;
                    overflow-y: scroll;
                    border:1px solid #ddd;
                    border-radius:5px;
                    padding:25px;
                    .sm_live_comments_content{
                        display: none;
                    }
                    .user_comment_content{
                        margin: 20px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        // border:1px solid;
                        border-radius:3px;
                        padding:10px;
                        background: #eeee;
                        .avatar{
                            // flex:1;
                            width: 80px;
                            height: 80px;
                            border-radius: 50%;
                            overflow: hidden;
                            // border:1px solid;
    
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .commments_info{
                            flex: 4;
                            margin: 0 0 0 10px;
                            display: flex;
                            flex-direction: column;
    
                            .info_title{
                                h4{
                                    font-weight: 700;
                                    color: #8c8c8c;
                                    font-size: 18px;                                
                                }
                                h3{
                                    font-weight: 500;
                                    color:  #8c8c8c;
                                    font-size: 16px;                                
                                }
                            }
                            .info_main{
                                p{
                                    font-size: 22px;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .event_list_container{
            
            .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -90px;
                        z-index: -1;
                        width: 200px;
                        height: 100px;
                    }
                }
            .tabs{
                
                display: flex;
                justify-content: center;
                
                .tab{
                    border-right:1px solid #8c8c8c;
                    background: #FF1D25;
                    padding: 10px 20px;
                    text-align: center;
                    margin: 0 0 60px 0;
                    transition: 0.16s ease-in-out;
                    -webkit-transition: 0.16s ease-in-out;
                    position: relative;
                    h3{
                        color:#fff;
                        font-weight: 600;
                        font-size: 25px;
                    }
                    .pointer{
                        clip-path: polygon(0 0, 50% 100%, 100% 0);
                        background: #FFFF00;
                        position: absolute;
                        bottom: -30px;
                        left: 25px;
                        width: 30px;
                        height: 30px;
                        display: none;
                    }
                }
                .tab:last-child{
                    border:none;
                }
                .tab:hover{
                    background: #FFFF00;
                    cursor: pointer;
                    h3{
                        color: #000;
                    }
                }
                .tab.active{
                    background: #FFFF00;
                    h3{
                        color: #000;
                    }
                    .pointer{
                        display: block;
                    }
                }
            }
            .event_list_content{
                
                .event_list_row{
                    display: flex;
                    justify-content: center;
                    padding: 0 20px;
                    margin: 20px 0;
                    .event_list_col{
                        margin-right: 40px;
                        display: flex;
                        .bullet_icon{
                            margin-right: 15px;
                            padding: 5px 0;
                        }
                        .event_details{
                            h4{
                                // font-size: 18px;
                                font-weight: 800;
                                color: #FF1D25;
                            }
                            h5{
                                font-weight: 600;
                            }
                        }
                    }
                    .event_list_col:last-child{
                        margin:0;
                    }
                }
                .event_list_row:first-child{
                    margin:0;
                }
            }
            
        }
    }
}
@media only screen and (min-width: 992px) and (max-width: 1199px){

    .header{
        position: relative;
        z-index: 1;
        background: #fff;
    }
    .banner{
        height: 80px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 150px;
            height: 150px;
            position: absolute;
            left: 50%;
            top: -4px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // animation: Rotate 10s linear infinite;
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 15%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        width: 80% !important;
        .event_main{
            margin: 30px 0;
            // border:1px solid;
            display: flex;
            justify-content: space-between;
            .content_left{
                flex-basis: 45%;
                .title:first-child
                {
                    margin: 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 25px;
                    }
                }
                .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 25px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -90px;
                        z-index: -1;
                        width: 200px;
                        height: 100px;
                    }
                }
                
                .illustDesign{
                    margin: 30px 0;
                }
                .video_stream_container{
                    .steam_date_time{
                        margin: 15px 0;
    
                        h3{
                            font-weight: 600;
                            font-size: 20px;
                        }
                    }
                }
                .post_comment_container{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;
                    textarea{
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100px;
                        max-height: 100px;
                        border-radius: 5px;
                        border: 1px solid;
                        margin: 5px 0;
                        padding: 5px 5px; 
                    }
                    input[type="submit"]{
                        margin: 5px 0;
                        width: 200px;
                        background: #FFFF00;
                        font-weight: 700;
                        color: #000;
                    }
                }
                .stream_description{
                    margin: 30px 0 10px 0;
                }
    
                
    
            } 
            .content_right{
                flex-basis: 45%;
                margin: 150px 0;
                .title
                {
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 25px;
                    }
                }
                .illustDesign{
                    margin: 20px 0;
                }
    
                .comments_container{
                    height: 60vh;
                    overflow-y: scroll;
                    border:1px solid #ddd;
                    border-radius:5px;
                    padding:25px;
                    .sm_live_comments_content{
                        display: none;
                    }
                    .user_comment_content{
                        margin: 20px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        // border:1px solid;
                        border-radius:3px;
                        padding:10px;
                        background: #eeee;
                        .avatar{
                            // flex:1;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            overflow: hidden;
                            // border:1px solid;
    
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .commments_info{
                            flex: 4;
                            margin: 0 0 0 10px;
                            display: flex;
                            flex-direction: column;
    
                            .info_title{
                                h4{
                                    font-weight: 700;
                                    color: #8c8c8c;
                                    font-size: 16px;                                
                                }
                                h3{
                                    font-weight: 500;
                                    color:  #8c8c8c;
                                    font-size: 14px;                                
                                }
                            }
                            .info_main{
                                p{
                                    font-size: 20px;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .event_list_container{
            
            .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 25px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -60px;
                        z-index: -1;
                        width: 150px;
                        height: 75px;
                    }
                }
            .tabs{
                
                display: flex;
                justify-content: center;
                
                .tab{
                    border-right:1px solid #8c8c8c;
                    background: #FF1D25;
                    padding: 10px 20px;
                    text-align: center;
                    margin: 0 0 60px 0;
                    transition: 0.16s ease-in-out;
                    -webkit-transition: 0.16s ease-in-out;
                    position: relative;
                    h3{
                        color:#fff;
                        font-weight: 600;
                        font-size: 20px;
                    }
                    .pointer{
                        clip-path: polygon(0 0, 50% 100%, 100% 0);
                        background: #FFFF00;
                        position: absolute;
                        bottom: -30px;
                        left: 25px;
                        width: 30px;
                        height: 30px;
                        display: none;
                    }
                }
                .tab:last-child{
                    border:none;
                }
                .tab:hover{
                    background: #FFFF00;
                    cursor: pointer;
                    h3{
                        color: #000;
                    }
                }
                .tab.active{
                    background: #FFFF00;
                    h3{
                        color: #000;
                    }
                    .pointer{
                        display: block;
                    }
                }
            }
            .event_list_content{
                
                .event_list_row{
                    display: flex;
                    justify-content: center;
                    padding: 0 20px;
                    margin: 20px 0;
                    .event_list_col{
                        margin-right: 40px;
                        display: flex;
                        .bullet_icon{
                            margin-right: 15px;
                            padding: 5px 0;
                        }
                        .event_details{
                            h4{
                                // font-size: 18px;
                                font-weight: 800;
                                color: #FF1D25;
                                font-size: 20px;
                            }
                            h5{
                                font-weight: 600;
                                font-size: 18px;
                            }
                        }
                    }
                    .event_list_col:last-child{
                        margin:0;
                    }
                }
                .event_list_row:first-child{
                    margin:0;
                }
            }
            
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    
    .header{
        position: relative;
        z-index: 1;
        background: #fff;
    }
    .banner{
        height: 80px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 120px;
            height: 120px;
            position: absolute;
            left: 50%;
            top: 15px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // animation: Rotate 10s linear infinite;
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 10%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        width: 80% !important;
        .event_main{
            margin: 30px 0;
            // border:1px solid;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            .content_left{
                flex-basis: 45%;
                .title:first-child
                {
                    margin: 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                }
                .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -90px;
                        z-index: -1;
                        width: 150px;
                        height: 100px;
                    }
                }
                
                .illustDesign{
                    margin: 30px 0;
                    img{
                        width: 300px; 
                    }
                }
                .video_stream_container{
                    .steam_date_time{
                        margin: 15px 0;
    
                        h3{
                            font-weight: 600;
                            font-size: 20px;
                        }
                        h5{
                            font-size: 16px;
                        }
                    }
                }
                .post_comment_container{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;
                    textarea{
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 100px;
                        max-height: 100px;
                        border-radius: 5px;
                        border: 1px solid;
                        margin: 5px 0;
                        padding: 5px 5px; 
                    }
                    input[type="submit"]{
                        margin: 5px 0;
                        width: 200px;
                        background: #FFFF00;
                        font-weight: 700;
                        color: #000;
                    }
                }
                .stream_description{
                    margin: 30px 0 10px 0;
                }
    
                
    
            } 
            .content_right{
                flex-basis: 45%;
                margin: 50px 0;
                .title
                {
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 25px;
                    }
                }
                .illustDesign{
                    margin: 30px 0;
                    img{
                        width: 300px;
                    }
                }
    
                .comments_container{
                    height: 60vh;
                    overflow-y: scroll;
                    border:1px solid #ddd;
                    border-radius:5px;
                    padding:25px;
                    .sm_live_comments_content{
                        display: none;
                    }
                    .user_comment_content{
                        margin: 20px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        // border:1px solid;
                        border-radius:3px;
                        padding:10px;
                        background: #eeee;
                        .avatar{
                            // flex:1;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            overflow: hidden;
                            // border:1px solid;
    
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .commments_info{
                            flex: 4;
                            margin: 0 0 0 10px;
                            display: flex;
                            flex-direction: column;
    
                            .info_title{
                                h4{
                                    font-weight: 700;
                                    color: #8c8c8c;
                                    font-size: 16px;                                
                                }
                                h3{
                                    font-weight: 500;
                                    color:  #8c8c8c;
                                    font-size: 14px;                                
                                }
                            }
                            .info_main{
                                p{
                                    font-size: 18px;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .event_list_container{
            
            .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -40px;
                        z-index: -1;
                        width: 120px;
                        height: 60px;
                    }
                }
            .tabs{
                
                display: flex;
                justify-content: center;
                
                .tab{
                    border-right:1px solid #8c8c8c;
                    background: #FF1D25;
                    padding: 10px 20px;
                    text-align: center;
                    margin: 0 0 60px 0;
                    transition: 0.16s ease-in-out;
                    -webkit-transition: 0.16s ease-in-out;
                    position: relative;
                    h3{
                        color:#fff;
                        font-weight: 600;
                        font-size: 15px;
                    }
                    .pointer{
                        clip-path: polygon(0 0, 50% 100%, 100% 0);
                        background: #FFFF00;
                        position: absolute;
                        bottom: -15px;
                        left: 25px;
                        width: 30px;
                        height: 20px;
                        display: none;
                    }
                }
                .tab:last-child{
                    border:none;
                }
                .tab:hover{
                    background: #FFFF00;
                    cursor: pointer;
                    h3{
                        color: #000;
                    }
                }
                .tab.active{
                    background: #FFFF00;
                    h3{
                        color: #000;
                    }
                    .pointer{
                        display: block;
                    }
                }
            }
            .event_list_content{
                
                .event_list_row{
                    display: flex;
                    justify-content: center;
                    padding: 0 20px;
                    margin: 20px 0;
                    .event_list_col{
                        margin-right: 40px;
                        display: flex;
                        .bullet_icon{
                            margin-right: 15px;
                            // padding: 5px 0;
                            img{
                                width: 30px;
                                height: 30px;
                            }
                        }
                        .event_details{
                            h4{
                                // font-size: 18px;
                                font-weight: 800;
                                color: #FF1D25;
                                font-size: 13px;
                            }
                            h5{
                                font-weight: 600;
                                font-size: 12px;
                            }
                        }
                    }
                    .event_list_col:last-child{
                        margin:0;
                    }
                }
                .event_list_row:first-child{
                    margin:0;
                }
            }
            
        }
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px){
    html{
        overflow-x: hidden;
    }
    .header{
        position: relative;
        z-index: 1;
        background: #fff;
    }
    .banner{
        height: 60px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 100px;
            height: 100px;
            position: absolute;
            left: 50%;
            top: 5px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // animation: Rotate 10s linear infinite;
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 10%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            display: none;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        width: 80% !important;
        .event_main{
            margin: 30px 0;
            // border:1px solid;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            .content_left{
                flex-basis: 45%;
                .title:first-child
                {
                    margin: 30px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                }
                .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -90px;
                        z-index: -1;
                        width: 150px;
                        height: 100px;
                    }
                }
                
                .illustDesign{
                    margin: 20px 0;
                    img{
                        width: 200px; 
                    }
                }
                .video_stream_container{
                    .steam_date_time{
                        margin: 15px 0;
    
                        h3{
                            font-weight: 600;
                            font-size: 18px;
                        }
                        h5{
                            font-size: 16px;
                        }
                    }
                }
                .post_comment_container{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;
                    textarea{
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 60px;
                        max-height: 60px;
                        border-radius: 5px;
                        border: 1px solid;
                        margin: 5px 0;
                        padding: 5px 5px; 
                    }
                    input[type="submit"]{
                        margin: 5px 0;
                        width: 200px;
                        background: #FFFF00;
                        font-weight: 700;
                        color: #000;
                    }
                }
                .stream_description{
                    margin: 30px 0 10px 0;
                }
    
                
    
            } 
            .content_right{
                flex-basis: 45%;
                margin: 50px 0;
                .title
                {
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 25px;
                    }
                }
                .illustDesign{
                    margin: 20px 0;
                    img{
                        width: 200px;
                    }
                }
    
                .comments_container{
                    height: 60vh;
                    overflow-y: scroll;
                    border:1px solid #ddd;
                    border-radius:5px;
                    padding:25px;
                    .sm_live_comments_content{
                        display: none;
                    }
                    .user_comment_content{
                        margin: 20px 0;
                        display: flex;
                        justify-content: space-between;
                        align-items: flex-start;
                        // border:1px solid;
                        border-radius:3px;
                        padding:10px;
                        background: #eeee;
                        .avatar{
                            // flex:1;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            overflow: hidden;
                            // border:1px solid;
    
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .commments_info{
                            flex: 4;
                            margin: 0 0 0 10px;
                            display: flex;
                            flex-direction: column;
    
                            .info_title{
                                h4{
                                    font-weight: 700;
                                    color: #8c8c8c;
                                    font-size: 16px;                                
                                }
                                h3{
                                    font-weight: 500;
                                    color:  #8c8c8c;
                                    font-size: 14px;                                
                                }
                            }
                            .info_main{
                                p{
                                    font-size: 18px;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }
                }
            }
        }
        .event_list_container{
                // border:1px solid;
            .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -40px;
                        z-index: -1;
                        width: 120px;
                        height: 60px;
                    }
                }
            .tabs{
                
                display: flex;
                justify-content: center;
                .tab{
                    border-right:1px solid #8c8c8c;
                    background: #FF1D25;
                    padding: 5px 10px;
                    text-align: center;
                    margin: 0 0 60px 0;
                    transition: 0.16s ease-in-out;
                    -webkit-transition: 0.16s ease-in-out;
                    position: relative;
                    h3{
                        color:#fff;
                        font-weight: 700;
                        font-size: 12px;
                    }
                    .pointer{
                        clip-path: polygon(0 0, 50% 100%, 100% 0);
                        background: #FFFF00;
                        position: absolute;
                        bottom: -15px;
                        left: 25px;
                        width: 30px;
                        height: 20px;
                        display: none;
                    }
                }
                .tab:last-child{
                    border:none;
                }
                .tab:hover{
                    background: #FFFF00;
                    cursor: pointer;
                    h3{
                        color: #000;
                    }
                }
                .tab.active{
                    background: #FFFF00;
                    h3{
                        color: #000;
                    }
                    .pointer{
                        display: block;
                    }
                }
            }
            .event_list_content{
                
                .event_list_row{
                    display: flex;
                    padding: 0px 0px;
                    flex-direction: column;
                    .event_list_col{
                        padding: 10px 0px;
                        display: flex;
                        .bullet_icon{
                            margin-right: 15px;
                            img{
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .event_details{
                            h4{
                                font-weight: 800;
                                color: #FF1D25;
                                font-size: 16px;
                            }
                            h5{
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                    }
                    .event_list_col:last-child{
                        margin:0;

                    }
                }
                .event_list_row:first-child{
                    margin:0;
                }
            }
            
        }
    }
}
@media only screen and (min-width: 375px) and (max-width: 424px){
    html{
        overflow-x: hidden;
    }
    .header{
        position: relative;
        z-index: 1;
        background: #fff;
    }
    .banner{
        height: 60px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 120px;
            height: 120px;
            position: absolute;
            left: 50%;
            top: -10px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // animation: Rotate 10s linear infinite;
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 10%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            display: none;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        width: 80% !important;
        .event_main{
            margin: 30px 0;
            // border:1px solid;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            .content_left{
                flex-basis: 45%;
                .title:first-child
                {
                    margin: 30px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                }
                .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -90px;
                        z-index: -1;
                        width: 150px;
                        height: 100px;
                    }
                }
                
                .illustDesign{
                    margin: 20px 0;
                    img{
                        width: 200px; 
                    }
                }
                .video_stream_container{
                    .steam_date_time{
                        margin: 15px 0;
    
                        h3{
                            font-weight: 600;
                            font-size: 16px;
                        }
                        h5{
                            font-size: 14px;
                        }
                    }
                }
                .post_comment_container{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;
                    textarea{
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 60px;
                        max-height: 60px;
                        border-radius: 5px;
                        border: 1px solid;
                        margin: 5px 0;
                        padding: 5px 5px; 
                    }
                    input[type="submit"]{
                        margin: 5px 0;
                        width: 150px;
                        background: #FFFF00;
                        font-weight: 700;
                        font-size: 14px;
                        color: #000;
                    }
                }
                .stream_description{
                    margin: 30px 0 10px 0;
                    p{
                        font-size: 15px;
                    }
                }
    
                
    
            } 
            .content_right{
                flex-basis: 45%;
                margin: 50px 0;
                .title
                {
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 25px;
                    }
                }
                .illustDesign{
                    margin: 20px 0;
                    img{
                        width: 200px;
                    }
                }
    
                .comments_container{
                   
                    height: 60vh;
                    overflow-y: scroll;
                    border:1px solid #ddd;
                    border-radius:5px;
                    padding:15px 10px;
                    .user_comment_content{
                        margin: 20px 0;
                        display: none;
                        justify-content: space-between;
                        align-items: flex-start;
                        // border:1px solid;
                        border-radius:3px;
                        padding:10px;
                        background: #eeee;
                        .avatar{
                            // flex:1;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            overflow: hidden;
                            // border:1px solid;
    
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .commments_info{
                            flex: 4;
                            margin: 0 0 0 10px;
                            display: flex;
                            flex-direction: column;
    
                            .info_title{
                                h4{
                                    font-weight: 700;
                                    color: #8c8c8c;
                                    font-size: 16px;                                
                                }
                                h3{
                                    font-weight: 500;
                                    color:  #8c8c8c;
                                    font-size: 14px;                                
                                }
                            }
                            .info_main{
                                p{
                                    font-size: 18px;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }

                    // Small Device Comments Section 

                    .sm_live_comments_content{
                        // border:1px solid;
                        padding: 10px 8px;
                        border-radius: 6px;
                        background: #eeee;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        margin: 0 0 20px 0; 
                        .commments_info{
                            display: flex;
                            .avatar{
                                width: 60px;
                                height: 60px;
                                border-radius: 50%;
                                overflow: hidden;
                                // border:1px solid;
        
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .info_title{
                                flex: 1;
                                margin: 0 0 0 10px;
                                h4{
                                    font-weight: 700;
                                    color: #8c8c8c;
                                    font-size: 16px;                                
                                }
                                h3{
                                    font-weight: 500;
                                    color:  #8c8c8c;
                                    font-size: 14px;                                
                                }
                            }
                        }
                        .info_main{
                            margin: 10px 0 0 0;

                            p{
                                font-size: 14px;
                            }
                        }
                    }
                    .sm_live_comments_content:last-child{
                        margin:0;
                    }


                }
            }
        }
        .event_list_container{
                // border:1px solid;
            .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 20px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -35px;
                        z-index: -1;
                        width: 110px;
                        height: 55px;
                    }
                }
            .tabs{
                
                display: flex;
                justify-content: center;
                .tab{
                    border-right:1px solid #8c8c8c;
                    background: #FF1D25;
                    padding: 5px 10px;
                    text-align: center;
                    margin: 0 0 60px 0;
                    transition: 0.16s ease-in-out;
                    -webkit-transition: 0.16s ease-in-out;
                    position: relative;
                    h3{
                        color:#fff;
                        font-weight: 700;
                        font-size: 10px;
                    }
                    .pointer{
                        clip-path: polygon(0 0, 50% 100%, 100% 0);
                        background: #FFFF00;
                        position: absolute;
                        bottom: -15px;
                        left: 25px;
                        width: 30px;
                        height: 20px;
                        display: none;
                    }
                }
                .tab:last-child{
                    border:none;
                }
                .tab:hover{
                    background: #FFFF00;
                    cursor: pointer;
                    h3{
                        color: #000;
                    }
                }
                .tab.active{
                    background: #FFFF00;
                    h3{
                        color: #000;
                    }
                    .pointer{
                        display: block;
                    }
                }
            }
            .event_list_content{
                
                .event_list_row{
                    display: flex;
                    padding: 0px 0px;
                    flex-direction: column;
                    .event_list_col{
                        padding: 10px 0px;
                        display: flex;
                        .bullet_icon{
                            margin-right: 15px;
                            img{
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .event_details{
                            h4{
                                font-weight: 800;
                                color: #FF1D25;
                                font-size: 16px;
                            }
                            h5{
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                    }
                    .event_list_col:last-child{
                        margin:0;

                    }
                }
                .event_list_row:first-child{
                    margin:0;
                }
            }
            
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px){
    html{
        overflow-x: hidden;
    }
    .header{
        position: relative;
        z-index: 1;
        background: #fff;
    }
    .banner{
        height: 60px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
    
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
        .design1{
            width: 120px;
            height: 120px;
            position: absolute;
            left: 50%;
            top: -10px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // animation: Rotate 10s linear infinite;
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 10%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            display: none;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        width: 80% !important;
        .event_main{
            margin: 30px 0;
            // border:1px solid;
            display: flex;
            flex-direction: column;
            // justify-content: space-between;
            .content_left{
                flex-basis: 45%;
                .title:first-child
                {
                    margin: 30px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                }
                .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                    img{
                        position: absolute;
                        top: 0;
                        left: -90px;
                        z-index: -1;
                        width: 150px;
                        height: 100px;
                    }
                }
                
                .illustDesign{
                    margin: 20px 0;
                    img{
                        width: 200px; 
                    }
                }
                .video_stream_container{
                    .steam_date_time{
                        margin: 15px 0;
    
                        h3{
                            font-weight: 600;
                            font-size: 16px;
                        }
                        h5{
                            font-size: 14px;
                        }
                    }
                }
                .post_comment_container{
                    display: flex;
                    flex-direction: column;
                    margin: 10px 0;
                    textarea{
                        min-width: 100%;
                        max-width: 100%;
                        min-height: 60px;
                        max-height: 60px;
                        border-radius: 5px;
                        border: 1px solid;
                        margin: 5px 0;
                        padding: 5px 5px; 
                    }
                    input[type="submit"]{
                        margin: 5px 0;
                        width: 150px;
                        background: #FFFF00;
                        font-weight: 700;
                        font-size: 14px;
                        color: #000;
                    }
                }
                .stream_description{
                    margin: 30px 0 10px 0;
                    p{
                        font-size: 15px;
                    }
                }
    
                
    
            } 
            .content_right{
                flex-basis: 45%;
                margin: 50px 0;
                .title
                {
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                }
                .illustDesign{
                    margin: 20px 0;
                    img{
                        width: 200px;
                    }
                }
    
                .comments_container{
                   
                    height: 60vh;
                    overflow-y: scroll;
                    border:1px solid #ddd;
                    border-radius:5px;
                    padding:15px 10px;
                    .user_comment_content{
                        margin: 20px 0;
                        display: none;
                        justify-content: space-between;
                        align-items: flex-start;
                        // border:1px solid;
                        border-radius:3px;
                        padding:10px;
                        background: #eeee;
                        .avatar{
                            // flex:1;
                            width: 60px;
                            height: 60px;
                            border-radius: 50%;
                            overflow: hidden;
                            // border:1px solid;
    
                            img{
                                width: 100%;
                                height: 100%;
                            }
                        }
                        .commments_info{
                            flex: 4;
                            margin: 0 0 0 10px;
                            display: flex;
                            flex-direction: column;
    
                            .info_title{
                                h4{
                                    font-weight: 700;
                                    color: #8c8c8c;
                                    font-size: 16px;                                
                                }
                                h3{
                                    font-weight: 500;
                                    color:  #8c8c8c;
                                    font-size: 14px;                                
                                }
                            }
                            .info_main{
                                p{
                                    font-size: 18px;
                                    margin: 10px 0;
                                }
                            }
                        }
                    }

                    // Small Device Comments Section 

                    .sm_live_comments_content{
                        // border:1px solid;
                        padding: 10px 8px;
                        border-radius: 6px;
                        background: #eeee;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        margin: 0 0 20px 0; 
                        .commments_info{
                            display: flex;
                            .avatar{
                                width: 40px;
                                height: 40px;
                                border-radius: 50%;
                                overflow: hidden;
                                // border:1px solid;
        
                                img{
                                    width: 100%;
                                    height: 100%;
                                }
                            }
                            .info_title{
                                flex: 1;
                                margin: 0 0 0 10px;
                                h4{
                                    font-weight: 700;
                                    color: #8c8c8c;
                                    font-size: 16px;                                
                                }
                                h3{
                                    font-weight: 500;
                                    color:  #8c8c8c;
                                    font-size: 14px;                                
                                }
                            }
                        }
                        .info_main{
                            margin: 10px 0 0 0;

                            p{
                                font-size: 14px;
                            }
                        }
                    }
                    .sm_live_comments_content:last-child{
                        margin:0;
                    }


                }
            }
        }
        .event_list_container{
                // border:1px solid;
            .title
                {
                    position: relative;
                    margin: 50px 0;
                    h2{
                        color: #FF1D25;
                        font-weight: 800;
                        font-size: 22px;
                    }
                    img{
                        position: absolute;
                        top: 5px;
                        left: -30px;
                        z-index: -1;
                        width: 100px;
                        height: 50px;
                    }
                }
            .tabs{
                
                display: flex;
                justify-content: center;
                .tab{
                    border-right:1px solid #8c8c8c;
                    background: #FF1D25;
                    padding: 5px 5px;
                    text-align: center;
                    margin: 0 0 60px 0;
                    transition: 0.16s ease-in-out;
                    -webkit-transition: 0.16s ease-in-out;
                    position: relative;
                    h3{
                        color:#fff;
                        font-weight: 700;
                        font-size: 10px;
                    }
                    .pointer{
                        clip-path: polygon(0 0, 50% 100%, 100% 0);
                        background: #FFFF00;
                        position: absolute;
                        bottom: -15px;
                        left: 25px;
                        width: 30px;
                        height: 20px;
                        display: none;
                    }
                }
                .tab:last-child{
                    border:none;
                }
                .tab:hover{
                    background: #FFFF00;
                    cursor: pointer;
                    h3{
                        color: #000;
                    }
                }
                .tab.active{
                    background: #FFFF00;
                    h3{
                        color: #000;
                    }
                    .pointer{
                        display: block;
                    }
                }
            }
            .event_list_content{
                
                .event_list_row{
                    display: flex;
                    padding: 0px 0px;
                    flex-direction: column;
                    .event_list_col{
                        padding: 10px 0px;
                        display: flex;
                        .bullet_icon{
                            margin-right: 15px;
                            img{
                                width: 40px;
                                height: 40px;
                            }
                        }
                        .event_details{
                            h4{
                                font-weight: 800;
                                color: #FF1D25;
                                font-size: 16px;
                            }
                            h5{
                                font-weight: 600;
                                font-size: 14px;
                            }
                        }
                    }
                    .event_list_col:last-child{
                        margin:0;

                    }
                }
                .event_list_row:first-child{
                    margin:0;
                }
            }
            
        }
    }
}
