
@media only screen and (min-width: 1200px){


    .header{
        position: relative;
        z-index: 1;
        background: #fff;
        
        a{
            color:#000 !important;
        }
    }
    .banner{
        height: 80px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 200px;
            height: 200px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-60%);
            -webkit-transform: translateX(-50%) ;
            -moz-transform: translateX(-50%);
            z-index: -1;
            //  animation: Rotate 10s linear infinite;
            // -moz-animation: Rotate 10s linear infinite;
            // -webkit-animation: Rotate 10s linear infinite;
            
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 15%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        position: relative;
        // overflow: hidden;
        .floating_btn{
            // width: 300px;
            position: fixed;
            bottom: 30px;
            right: 5%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;

            .icon{
                width: 80px;
                height: 80px;
                background: #FF1D25;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.16s ease-in;
                }
            }

            .slideout{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: #FF1D25;
              z-index: -1;
              display: flex;
              align-items: center;
              transform: translateX(100%);
              transition: transform 0.66s ease-in-out;
            //   justify-content: flex-end;

              p{
                  padding: 0 50px;
                  margin: auto 0;
                  width: 100%;
                  text-align: left;
                  font-size: 20px;
                  color: #fff;
              }
            }
            
        }
        .floating_btn:hover{
            width: 300px;
        }
        .floating_btn:hover .slideout{
            transform: translateX(0);
        }
        .floating_btn:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        .bottom_float{
            // width: 300px;
            position: absolute;
            bottom: 0;
            right: -15% !important;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;
            // border:1px solid;

            .slideout{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #FF1D25;
                z-index: -1;
                display: flex;
                align-items: center;
                transform: translateX(100%);
                transition: transform 0.66s ease-in-out;
              //   justify-content: flex-end;
  
                p{
                    padding: 0 50px;
                    margin: auto 0;
                    width: 100%;
                    text-align: left;
                    font-size: 20px;
                    color: #fff;
                }
              }
        }
        .bottom_float:hover{
            width: 300px;
        }
        .bottom_float:hover .slideout{
            transform: translateX(0) !important;
        }
        .bottom_float:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        
        .title{
            margin: 50px 0;

            h2{
                color: #FF1D25;
                font-weight: 800;
                width: 500px;
                line-height: 50px;
                margin: 0 0 20px 0;
            }
        }
        .gallery_container{
            margin: 50px 0;

            .gallery_date{
                width: 250px;
                padding: 15px;
                background: #FFFF00;
                position: relative;
                h3{
                    font-size: 22px;
                    font-weight: 800;
                }
                .pointer{
                    clip-path: polygon(0 0, 50% 100%, 100% 0);
                    background: #FFFF00;
                    position: absolute;
                    bottom: -20px;
                    left: 25px;
                    width: 30px;
                    height: 20px;
                    // display: none;
                }
            }

            // .gallery_row{
            //     display: -ms-flexbox; /* IE10 */
            //     display: flex;
            //     -ms-flex-wrap: wrap; /* IE10 */
            //     flex-wrap: wrap;
            //     // padding: 0 4px;
            //     margin: 50px 0;
            //     .gallery_col{
            //         -ms-flex: 25%; /* IE10 */
            //         flex: 25%;
            //         max-width: 80%;
                    
            //         img{
            //             margin: 3px 3px;
            //             max-width: 600px;
            //             height: auto;
            //         }
            //     }
            // }
            .gallery_row{

                .gallery_col{
                    width: 100%;
                     // padding: 0 4px;
                     margin: 50px 0;
                     .gallery_images{
                         display: flex;
                         flex-wrap: wrap;
                     }
                    .image{
                        position: relative;
                        overflow: hidden;
                        padding: 0 !important;
                        margin: 3px 3px;
                        img{
                            max-width: 600px;
                            max-height: 200px;                            
                        }
                        .overlay{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background:rgba(0,0,0,0.5);
                            display:none;

                            h3{
                                color: #fff;
                                font-size: 22px;
                                font-weight: 700;
                            }
                            h4{
                                color: #fff;
                                font-size: 20px;
                            }
                            
                            
                        }
                        
                    }
                    .image:hover .overlay{
                        animation: slideIn 0.40s ease-in;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        a{
                            border-radius: 50%;
                            background: #FFFF00;
                            width: 30px;
                            height: 30px;

                            .eye_icon{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }
            }
        }
    }
}

@keyframes slideIn{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@media only screen and (min-width: 992px) and (max-width: 1199px){

    .header{
        position: relative;
        z-index: 1;
        background: #fff;
        
        a{
            color:#000 !important;
        }
    }
    .banner{
        height: 80px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 200px;
            height: 200px;
            position: absolute;
            top: -30px;
            left: 50%;
            transform: translateX(-60%);
            -webkit-transform: translateX(-50%) ;
            -moz-transform: translateX(-50%);
            z-index: -1;
            //  animation: Rotate 10s linear infinite;
            // -moz-animation: Rotate 10s linear infinite;
            // -webkit-animation: Rotate 10s linear infinite;
            
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 15%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        position: relative;
        // overflow: hidden;
        .floating_btn{
            // width: 300px;
            position: fixed;
            bottom: 30px;
            right: 5%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;

            .icon{
                width: 80px;
                height: 80px;
                background: #FF1D25;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.16s ease-in;
                }
            }

            .slideout{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: #FF1D25;
              z-index: -1;
              display: flex;
              align-items: center;
              transform: translateX(100%);
              transition: transform 0.66s ease-in-out;
            //   justify-content: flex-end;

              p{
                  padding: 0 50px;
                  margin: auto 0;
                  width: 100%;
                  text-align: left;
                  font-size: 20px;
                  color: #fff;
              }
            }
            
        }
        .floating_btn:hover{
            width: 300px;
        }
        .floating_btn:hover .slideout{
            transform: translateX(0);
        }
        .floating_btn:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        .bottom_float{
            // width: 300px;
            position: absolute;
            bottom: 0;
            right: -15% !important;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;
            // border:1px solid;

            .slideout{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #FF1D25;
                z-index: -1;
                display: flex;
                align-items: center;
                transform: translateX(100%);
                transition: transform 0.66s ease-in-out;
              //   justify-content: flex-end;
  
                p{
                    padding: 0 50px;
                    margin: auto 0;
                    width: 100%;
                    text-align: left;
                    font-size: 20px;
                    color: #fff;
                }
              }
        }
        .bottom_float:hover{
            width: 300px;
        }
        .bottom_float:hover .slideout{
            transform: translateX(0) !important;
        }
        .bottom_float:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        
        .title{
            margin: 50px 0;

            h2{
                color: #FF1D25;
                font-weight: 800;
                width: 500px;
                line-height: 50px;
                margin: 0 0 20px 0;
            }
        }
        .gallery_container{
            margin: 50px 0;

            .gallery_date{
                width: 250px;
                padding: 15px;
                background: #FFFF00;
                position: relative;
                h3{
                    font-size: 22px;
                    font-weight: 800;
                }
                .pointer{
                    clip-path: polygon(0 0, 50% 100%, 100% 0);
                    background: #FFFF00;
                    position: absolute;
                    bottom: -20px;
                    left: 25px;
                    width: 30px;
                    height: 20px;
                    // display: none;
                }
            }

            // .gallery_row{
            //     display: -ms-flexbox; /* IE10 */
            //     display: flex;
            //     -ms-flex-wrap: wrap; /* IE10 */
            //     flex-wrap: wrap;
            //     // padding: 0 4px;
            //     margin: 50px 0;
            //     .gallery_col{
            //         -ms-flex: 25%; /* IE10 */
            //         flex: 25%;
            //         max-width: 80%;
                    
            //         img{
            //             margin: 3px 3px;
            //             max-width: 600px;
            //             height: auto;
            //         }
            //     }
            // }
            .gallery_row{

                .gallery_col{
                    width: 100%;
                     // padding: 0 4px;
                     margin: 50px 0;
                     .gallery_images{
                         display: flex;
                         flex-wrap: wrap;
                     }
                    .image{
                        position: relative;
                        overflow: hidden;
                        padding: 0 !important;
                        margin: 3px 3px;
                        img{
                            max-width: 600px;
                            max-height: 200px;                            
                        }
                        .overlay{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background:rgba(0,0,0,0.5);
                            display:none;

                            h3{
                                color: #fff;
                                font-size: 22px;
                                font-weight: 700;
                            }
                            h4{
                                color: #fff;
                                font-size: 20px;
                            }
                            
                            
                        }
                        
                    }
                    .image:hover .overlay{
                        animation: slideIn 0.40s ease-in;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        a{
                            border-radius: 50%;
                            background: #FFFF00;
                            width: 30px;
                            height: 30px;

                            .eye_icon{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }
            }
        }
    }
}
@media only screen and (min-width: 768px) and (max-width: 991px){
    
    .header{
        position: relative;
        z-index: 1;
        background: #fff;
        
        a{
            color:#000 !important;
        }
    }
    .banner{
        height: 80px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 150px;
            height: 150px;
            position: absolute;
            top: -5px;
            left: 50%;
            transform: translateX(-60%);
            -webkit-transform: translateX(-50%) ;
            -moz-transform: translateX(-50%);
            z-index: -1;
            //  animation: Rotate 10s linear infinite;
            // -moz-animation: Rotate 10s linear infinite;
            // -webkit-animation: Rotate 10s linear infinite;
            
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 5%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        position: relative;
        width: 90% !important;
        // overflow: hidden;
        .floating_btn{
            // width: 300px;
            position: fixed;
            bottom: 30px;
            right: 5%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;

            .icon{
                width: 80px;
                height: 80px;
                background: #FF1D25;
                border-radius: 50%;
                border:1px solid #fff;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.16s ease-in;
                }
            }

            .slideout{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: #FF1D25;
              z-index: -1;
              display: flex;
              align-items: center;
              transform: translateX(100%);
              transition: transform 0.66s ease-in-out;
            //   justify-content: flex-end;

              p{
                  padding: 0 50px;
                  margin: auto 0;
                  width: 100%;
                  text-align: left;
                  font-size: 20px;
                  color: #fff;
              }
            }
            
        }
        .floating_btn:hover{
            width: 300px;
        }
        .floating_btn:hover .slideout{
            transform: translateX(0);
        }
        .floating_btn:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        
        .title{
            margin: 50px 0;

            h2{
                color: #FF1D25;
                font-size: 22px;
                font-weight: 800;
                width: 300px;
                line-height: 40px;
                margin: 0 0 20px 0;
            }
            .illustDesign{
                margin: 20px 0;
                img{
                    width: 300px; 
                }
            }
        }
        .gallery_container{
            margin: 50px 0;

            .gallery_date{
                width: 250px;
                padding: 15px;
                background: #FFFF00;
                position: relative;
                h3{
                    font-size: 20px;
                    font-weight: 800;
                }
                .pointer{
                    clip-path: polygon(0 0, 50% 100%, 100% 0);
                    background: #FFFF00;
                    position: absolute;
                    bottom: -20px;
                    left: 25px;
                    width: 30px;
                    height: 20px;
                    // display: none;
                }
            }

            // .gallery_row{
            //     display: -ms-flexbox; /* IE10 */
            //     display: flex;
            //     -ms-flex-wrap: wrap; /* IE10 */
            //     flex-wrap: wrap;
            //     // padding: 0 4px;
            //     margin: 50px 0;
            //     .gallery_col{
            //         -ms-flex: 25%; /* IE10 */
            //         flex: 25%;
            //         max-width: 80%;
                    
            //         img{
            //             margin: 3px 3px;
            //             max-width: 600px;
            //             height: auto;
            //         }
            //     }
            // }
            .gallery_row{

                .gallery_col{
                    width: 100%;
                     // padding: 0 4px;
                     margin: 50px 0;
                     .gallery_images{
                         display: flex;
                         flex-wrap: wrap;
                     }
                    .image{
                        position: relative;
                        overflow: hidden;
                        padding: 0 !important;
                        margin: 3px 3px;
                        img{
                            max-width: 300px;
                            max-height: 150px;                            
                        }
                        .overlay{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background:rgba(0,0,0,0.5);
                            display:none;

                            h3{
                                color: #fff;
                                font-size: 22px;
                                font-weight: 700;
                            }
                            h4{
                                color: #fff;
                                font-size: 20px;
                            }
                            
                            
                        }
                        
                    }
                    .image:hover .overlay{
                        animation: slideIn 0.40s ease-in;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        a{
                            border-radius: 50%;
                            background: #FFFF00;
                            width: 30px;
                            height: 30px;

                            .eye_icon{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }
            }
        }
    }
}
@media only screen and (min-width: 425px) and (max-width: 767px){
    html{
        overflow-x: hidden;
    }
    .header{
        position: relative;
        z-index: 1;
        background: #fff;
        
        a{
            color:#000 !important;
        }
    }
    .banner{
        height: 80px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 120px;
            height: 120px;
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translateX(-60%);
            -webkit-transform: translateX(-50%) ;
            -moz-transform: translateX(-50%);
            z-index: -1;
            //  animation: Rotate 10s linear infinite;
            // -moz-animation: Rotate 10s linear infinite;
            // -webkit-animation: Rotate 10s linear infinite;
            
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 15%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            display: none;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        position: relative;
        width: 90% !important;
        // overflow: hidden;
        .floating_btn{
            // width: 300px;
            position: fixed;
            bottom: 30px;
            right: 5%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;

            .icon{
                width: 80px;
                height: 80px;
                background: #FF1D25;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.16s ease-in;
                }
            }

            .slideout{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: #FF1D25;
              z-index: -1;
              display: flex;
              align-items: center;
              transform: translateX(100%);
              transition: transform 0.66s ease-in-out;
            //   justify-content: flex-end;

              p{
                  padding: 0 50px;
                  margin: auto 0;
                  width: 100%;
                  text-align: left;
                  font-size: 20px;
                  color: #fff;
              }
            }
            
        }
        .floating_btn:hover{
            width: 300px;
        }
        .floating_btn:hover .slideout{
            transform: translateX(0);
        }
        .floating_btn:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        .bottom_float{
            // width: 300px;
            position: absolute;
            bottom: 0;
            right: -15% !important;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;
            // border:1px solid;
            .icon{
                width: 80px;
                height: 80px;
                background: #FF1D25;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.16s ease-in;
                }
            }
            .slideout{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #FF1D25;
                z-index: -1;
                display: flex;
                align-items: center;
                transform: translateX(100%);
                transition: transform 0.66s ease-in-out;
              //   justify-content: flex-end;
  
                p{
                    padding: 0 50px;
                    margin: auto 0;
                    width: 100%;
                    text-align: left;
                    font-size: 20px;
                    color: #fff;
                }
              }
        }
        .bottom_float:hover{
            width: 300px;
        }
        .bottom_float:hover .slideout{
            transform: translateX(0) !important;
        }
        .bottom_float:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        
        .title{
            margin: 100px 0 0 0 ;

            h2{
                color: #FF1D25;
                font-size: 22px;
                font-weight: 800;
                width: 300px;
                // line-height: 50px;
                margin: 0 0 20px 0;
            }
            .illustDesign{
                margin: 20px 0;
                img{
                    width: 300px; 
                }
            }
        }
        .gallery_container{
            margin: 50px 0;

            .gallery_date{
                width: 200px;
                padding: 10px 15px;
                background: #FFFF00;
                position: relative;
                h3{
                    font-size: 16px;
                    font-weight: 800;
                }
                .pointer{
                    clip-path: polygon(0 0, 50% 100%, 100% 0);
                    background: #FFFF00;
                    position: absolute;
                    bottom: -20px;
                    left: 25px;
                    width: 30px;
                    height: 20px;
                    // display: none;
                }
            }

            .gallery_row{

                .gallery_col{
                    width: 100%;
                     // padding: 0 4px;
                     margin: 50px 0;
                     .gallery_images{
                         display: flex;
                         flex-wrap: wrap;
                     }
                    margin: 50px 0;
                    .image{
                        position: relative;
                        overflow: hidden;
                        padding: 0 !important;
                        margin: 3px 3px;
                        img{
                            max-width: 200px;
                            max-height: 100px;                            
                        }
                        .overlay{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background:rgba(0,0,0,0.5);
                            display:none;

                            h3{
                                color: #fff;
                                font-size: 22px;
                                font-weight: 700;
                            }
                            h4{
                                color: #fff;
                                font-size: 20px;
                            }
                            
                            
                        }
                        
                    }
                    .image:hover .overlay{
                        animation: slideIn 0.40s ease-in;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        a{
                            border-radius: 50%;
                            background: #FFFF00;
                            width: 30px;
                            height: 30px;

                            .eye_icon{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }
            }
        }
    }
}
@media only screen and (min-width: 375px) and (max-width: 424px){
    html{
        overflow-x: hidden;
    }
    .header{
        position: relative;
        z-index: 1;
        background: #fff;
        
        a{
            color:#000 !important;
        }
    }
    .banner{
        height: 80px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 120px;
            height: 120px;
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translateX(-60%);
            -webkit-transform: translateX(-50%) ;
            -moz-transform: translateX(-50%);
            z-index: -1;
            //  animation: Rotate 10s linear infinite;
            // -moz-animation: Rotate 10s linear infinite;
            // -webkit-animation: Rotate 10s linear infinite;
            
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 15%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            display: none;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        position: relative;
        width: 90% !important;
        // overflow: hidden;
        .floating_btn{
            // width: 300px;
            position: fixed;
            bottom: 30px;
            right: 5%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;

            .icon{
                width: 80px;
                height: 80px;
                background: #FF1D25;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.16s ease-in;
                }
            }

            .slideout{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: #FF1D25;
              z-index: -1;
              display: flex;
              align-items: center;
              transform: translateX(100%);
              transition: transform 0.66s ease-in-out;
            //   justify-content: flex-end;

              p{
                  padding: 0 50px;
                  margin: auto 0;
                  width: 100%;
                  text-align: left;
                  font-size: 20px;
                  color: #fff;
              }
            }
            
        }
        .floating_btn:hover{
            width: 300px;
        }
        .floating_btn:hover .slideout{
            transform: translateX(0);
        }
        .floating_btn:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        .bottom_float{
            // width: 300px;
            position: absolute;
            bottom: 0;
            right: -15% !important;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;
            // border:1px solid;
            .icon{
                width: 80px;
                height: 80px;
                background: #FF1D25;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.16s ease-in;
                }
            }
            .slideout{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #FF1D25;
                z-index: -1;
                display: flex;
                align-items: center;
                transform: translateX(100%);
                transition: transform 0.66s ease-in-out;
              //   justify-content: flex-end;
  
                p{
                    padding: 0 50px;
                    margin: auto 0;
                    width: 100%;
                    text-align: left;
                    font-size: 20px;
                    color: #fff;
                }
              }
        }
        .bottom_float:hover{
            width: 300px;
        }
        .bottom_float:hover .slideout{
            transform: translateX(0) !important;
        }
        .bottom_float:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        
        .title{
            margin: 100px 0 0 0 ;

            h2{
                color: #FF1D25;
                font-size: 20px;
                font-weight: 800;
                width: 300px;
                // line-height: 50px;
                margin: 0 0 20px 0;
            }
            .illustDesign{
                margin: 20px 0;
                img{
                    width: 200px; 
                }
            }
        }
        .gallery_container{
            margin: 50px 0;

            .gallery_date{
                width: 200px;
                padding: 10px 15px;
                background: #FFFF00;
                position: relative;
                h3{
                    font-size: 16px;
                    font-weight: 800;
                }
                .pointer{
                    clip-path: polygon(0 0, 50% 100%, 100% 0);
                    background: #FFFF00;
                    position: absolute;
                    bottom: -20px;
                    left: 25px;
                    width: 30px;
                    height: 20px;
                    // display: none;
                }
            }

            // .gallery_row{
            //     display: -ms-flexbox; /* IE10 */
            //     display: flex;
            //     -ms-flex-wrap: wrap; /* IE10 */
            //     flex-wrap: wrap;
            //     // padding: 0 4px;
            //     margin: 50px 0;
            //     .gallery_col{
            //         -ms-flex: 25%; /* IE10 */
            //         flex: 25%;
            //         max-width: 80%;
                    
            //         img{
            //             margin: 3px 3px;
            //             max-width: 600px;
            //             height: auto;
            //         }
            //     }
            // }
            .gallery_row{

                .gallery_col{
                    width: 100%;
                     // padding: 0 4px;
                     margin: 50px 0;
                     .gallery_images{
                         display: flex;
                         flex-wrap: wrap;
                     }
                    margin: 50px 0;
                    .image{
                        position: relative;
                        overflow: hidden;
                        padding: 0 !important;
                        margin: 3px 3px;
                        img{
                            max-width: 200px;
                            max-height: 100px;                            
                        }
                        .overlay{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background:rgba(0,0,0,0.5);
                            display:none;

                            h3{
                                color: #fff;
                                font-size: 22px;
                                font-weight: 700;
                            }
                            h4{
                                color: #fff;
                                font-size: 20px;
                            }
                            
                            
                        }
                        
                    }
                    .image:hover .overlay{
                        animation: slideIn 0.40s ease-in;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        a{
                            border-radius: 50%;
                            background: #FFFF00;
                            width: 30px;
                            height: 30px;

                            .eye_icon{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }
            }
        }
    }
}
@media only screen and (min-width: 320px) and (max-width: 374px){
    html{
        overflow-x: hidden;
    }
    .header{
        position: relative;
        z-index: 1;
        background: #fff;
        
        a{
            color:#000 !important;
        }
    }
    .banner{
        height: 80px;
        background:  #FF1D25;
        display: flex;
        align-items: center;
        justify-content: center;
        position: relative;
        width: 100%;
        h2{
            font-weight: 700;
            color: #FFFF00;
        }
    
        .design1{
            width: 120px;
            height: 120px;
            position: absolute;
            left: 50%;
            top: 20px;
            transform: translateX(-60%);
            -webkit-transform: translateX(-50%) ;
            -moz-transform: translateX(-50%);
            z-index: -1;
            //  animation: Rotate 10s linear infinite;
            // -moz-animation: Rotate 10s linear infinite;
            // -webkit-animation: Rotate 10s linear infinite;
            
        }
        .design2{
            // width: 20%;
            // height:50px;
            position: absolute;
            right: 15%;
            top: 20px;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            z-index: -1;
            display: none;
            // transform: rotate(90deg);
            
        }
    }
    
    @keyframes Rotate{
        from{
            transform: rotate(0deg);
        }
        to{
            transform: rotate(359deg);
        }
    }
    
    .main{
        position: relative;
        width: 90% !important;
        // overflow: hidden;
        .floating_btn{
            // width: 300px;
            position: fixed;
            bottom: 30px;
            right: 5%;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;

            .icon{
                width: 80px;
                height: 80px;
                background: #FF1D25;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.16s ease-in;
                }
            }

            .slideout{
              position: absolute;
              left: 0;
              top: 0;
              width: 100%;
              height: 100%;
              background: #FF1D25;
              z-index: -1;
              display: flex;
              align-items: center;
              transform: translateX(100%);
              transition: transform 0.66s ease-in-out;
            //   justify-content: flex-end;

              p{
                  padding: 0 50px;
                  margin: auto 0;
                  width: 100%;
                  text-align: left;
                  font-size: 20px;
                  color: #fff;
              }
            }
            
        }
        .floating_btn:hover{
            width: 300px;
        }
        .floating_btn:hover .slideout{
            transform: translateX(0);
        }
        .floating_btn:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        .bottom_float{
            // width: 300px;
            position: absolute;
            bottom: 0;
            right: -15% !important;
            display: flex;
            align-items: center;
            justify-content: flex-end;
            z-index: 50;
            overflow: hidden;
            border-radius: 50px;
            // border:1px solid;
            .icon{
                width: 80px;
                height: 80px;
                background: #FF1D25;
                border-radius: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                i{
                    color: #fff;
                    font-size: 20px;
                    transition: 0.16s ease-in;
                }
            }
            .slideout{
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: #FF1D25;
                z-index: -1;
                display: flex;
                align-items: center;
                transform: translateX(100%);
                transition: transform 0.66s ease-in-out;
              //   justify-content: flex-end;
  
                p{
                    padding: 0 50px;
                    margin: auto 0;
                    width: 100%;
                    text-align: left;
                    font-size: 20px;
                    color: #fff;
                }
              }
        }
        .bottom_float:hover{
            width: 300px;
        }
        .bottom_float:hover .slideout{
            transform: translateX(0) !important;
        }
        .bottom_float:hover .icon{
            background: #970106;

            i{
                font-size: 30px;
            }
        }
        
        .title{
            margin: 100px 0 0 0 ;

            h2{
                color: #FF1D25;
                font-size: 16px;
                font-weight: 800;
                width: 200px;
                // line-height: 50px;
                margin: 0 0 20px 0;
            }
            .illustDesign{
                margin: 20px 0;
                img{
                    width: 200px; 
                }
            }
        }
        .gallery_container{
            margin: 50px 0;
            .gallery_date{
                width: 200px;
                padding: 10px 15px;
                background: #FFFF00;
                position: relative;
                h3{
                    font-size: 16px;
                    font-weight: 800;
                }
                .pointer{
                    clip-path: polygon(0 0, 50% 100%, 100% 0);
                    background: #FFFF00;
                    position: absolute;
                    bottom: -20px;
                    left: 25px;
                    width: 30px;
                    height: 20px;
                    // display: none;
                }
            }

            // .gallery_row{
            //     display: -ms-flexbox; /* IE10 */
            //     display: flex;
            //     -ms-flex-wrap: wrap; /* IE10 */
            //     flex-wrap: wrap;
            //     // padding: 0 4px;
            //     margin: 50px 0;
            //     .gallery_col{
            //         -ms-flex: 25%; /* IE10 */
            //         flex: 25%;
            //         max-width: 80%;
                    
            //         img{
            //             margin: 3px 3px;
            //             max-width: 600px;
            //             height: auto;
            //         }
            //     }
            // }
            .gallery_row{

                .gallery_col{
                   width: 100%;
                    // padding: 0 4px;
                    margin: 50px 0;
                    .gallery_images{
                        display: flex;
                        flex-wrap: wrap;
                    }
                    .image{
                        position: relative;
                        overflow: hidden;
                        padding: 0 !important;
                        margin: 3px 3px;
                        img{
                            max-width: 150px;
                            max-height: 75px;                            
                        }
                        .overlay{
                            position: absolute;
                            top: 0;
                            width: 100%;
                            height: 100%;
                            background:rgba(0,0,0,0.5);
                            display:none;

                            h3{
                                color: #fff;
                                font-size: 22px;
                                font-weight: 700;
                            }
                            h4{
                                color: #fff;
                                font-size: 20px;
                            }
                            
                            
                        }
                        
                    }
                    .image:hover .overlay{
                        animation: slideIn 0.40s ease-in;
                        display:flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;

                        a{
                            border-radius: 50%;
                            background: #FFFF00;
                            width: 30px;
                            height: 30px;

                            .eye_icon{
                                width: 100%;
                                height: 100%;
                            }
                        }
                    }

                }
            }
        }
    }
}
