@import 'https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';
@import 'https://fonts.googleapis.com/css2?family=Emblema+One&family=Montserrat:wght@800&display=swap';


*::before,*::after,*{
    padding: 0;
    margin: 0;
}

a{
    text-decoration: none;
    color: #000;
}
.active{
    background:#FFFF00;
    font-weight: bold;
 }
.active a{
    font-weight: bold !important;
}
.scrollOff{
    height: 100%;
    overflow: hidden;
}

@media only screen and (min-width:1200px){
    .wrapper{
        
        .sidebar{
            display: none;
        }

        .header{
            height: 8vh;
            
            .navbar_wrapper{
                display: flex;
                height: 100%;
                padding: 0 20px;
                align-items: flex-end;

                .navbar_logo{
                    flex-basis: 10%;
                    position: relative;
                    height: 100%;

                    .logo_wrap{
                        width: 120px;
                        height: 120px;
                        border:2px solid #FF1D25;
                        border-radius: 50%;
                        position: absolute;
                        top: 20%;
                        left: 50%;
                        transform: translateX(-50%);
                        overflow: hidden;
                        z-index: 1000;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .navbar_menu{
                    flex-basis: 80%;

                    .small_device_nav_icon{
                        display: none;
                    }

                    ul{
                        display: flex;
                        list-style: none;
                        // border:1px solid;
                        justify-content: flex-end;

                        li{
                            padding:5px 10px;
                            margin: 0 10px;
                            border-radius: 20px;

                            a{
                                font-weight:500 ;
                                text-decoration: none;
                            }
                        }
                        li:hover{
                            background:#FFFF00;
                        }
                        li:hover a{
                            color: #000;
                        }
                        li:last-child{
                            margin-right: 0;                            
                        }
                        
                    }
                }
            }
        }

        .hero-banner{
            
            #carouselExampleIndicators{
                position: relative;
                height: 45vh;
                overflow: hidden;
                .carousel-inner
                {
                    
                    img{
                        width: 100%;
                        height: 50vh;
                    }
                }
                
                a{
                    background: yellow !important;
                    border-radius: 50% !important;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding:10px;

                    img{
                        margin: 0 auto;
                        padding:10px 0;
                        width: 80%;
                        color: #000;
                    }
                    
                }
                .carousel-control-prev{
                left:50px;
                }
                .carousel-control-next{
                    right:50px;
                }
            }
        }
        .main{
            position: relative;
            width: 70%;
            margin: 0 auto;
            .image1{
                position: absolute;
                top: -130px;
                right: 150px;
                width: 200px;
                height: 200px;
            }

            .wrapper_main{
                display: flex;
                margin: 100px 0px;
                justify-content: space-between;
                // border:1px solid;
                .content_left{
                    flex-basis: 45%;
                    .content_block{
                        margin:60px 0; 

                        .title{
                            position: relative;
                            display: flex;
                            align-items: center;
                            // justify-content: flex-end;
                            // border:1px solid;
                            // width: 300px;

                            img{
                                position: absolute;
                                z-index: -1;
                                left: -110px;
                            }

                            .title_text h2{
                                font-size: 30px;
                                color: #FF1D25;
                                line-height: 40px;
                                font-weight: 800;
                            }
                        }

                        .post_content{
                            margin:60px 0;

                            p{
                                font-weight: 600;
                                color: #000;
                                font-size: 18px;
                            }
                            
                            
                        }
                    }
                    .content_block:first-child{
                        margin:0;
                    }
                    .illustDesign{
                        img{
                            width: 80%;
                            height:50px;
                        } 
                    }
                }
                
                .content_right{
                    flex-basis: 45%;
                    .post_content_right{
                        margin: 140px 0;

                        .title{
                            h2{
                                font-size: 30px;
                                color: #FF1D25;
                                line-height: 50px;
                                font-weight: 800; //Font Weight Black not available
                            }
                            
                        }
                        .gallery_box{
                            display: flex;
                            flex-wrap: wrap;
                            // border:1px solid;
                            justify-content: space-between;
                            width: 310px;

                            img{
                                flex-basis: 40%;
                                height: 150px;
                                margin: 5px 0px;
                            }
                        }
                        .view_btn{
                            background: #FFFF00;
                            color: #000;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .illustDesign{
                            img{
                                width: 80%;
                                height:50px;
                            } 
                        }
                    }
                }
            }

            
        }
        .footer{
            // height: 25vh;
            background: #FF1D25;
            margin: 150px 0 0 0;
            position: relative;
            padding: 30px 50px 0 50px;
            z-index: -1;
            margin-bottom:-100px;
            // overflow: hidden;

            .image1{
                position: absolute;
                top: -90px;
                width: 150px;
                height: 150px;
                opacity: 0.5;
                left: 150px;
                z-index: 1;
            }
            
            .footer_wrapper{
                width: 80%;
                margin: 0 auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                overflow: hidden;

                .image2{
                    position: absolute;
                    bottom: -150px;
                    width: 300px;
                    height: 300px;
                    opacity: 0.5;
                    right: 10%;
                    z-index: 1;
                    opacity: 0.4;
                }
                .footer_content_left{
                    flex: 2;
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 22px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .footer_content_right{
                    flex: 1;
                    position: relative;
                    z-index: 10;
                    h3{
                        color: #fff;
                        font-size: 22px;
                        font-weight: bold;
                        padding:3px 10px;
                    }
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 22px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }     
        }
    }
}

@media only screen and (min-width:900px) and (max-width:1199px){
    .wrapper{
        
        .sidebar{
            display: none;
        }

        .header{
            height: 8vh;
            
            .navbar_wrapper{
                display: flex;
                height: 100%;
                padding: 0 20px;
                align-items: flex-end;

                .navbar_logo{
                    flex-basis: 10%;
                    position: relative;
                    height: 100%;

                    .logo_wrap{
                        width: 90px;
                        height: 90px;
                        border:2px solid #FF1D25;
                        border-radius: 50%;
                        position: absolute;
                        top: 20%;
                        left: 50%;
                        transform: translateX(-50%);
                        overflow: hidden;
                        z-index: 1000;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .navbar_menu{
                    flex-basis: 80%;

                    .small_device_nav_icon{
                        display: none;
                    }

                    ul{
                        display: flex;
                        list-style: none;
                        // border:1px solid;
                        justify-content: flex-end;

                        li{
                            padding:5px 10px;
                            margin: 0 10px;
                            border-radius: 20px;

                            a{
                                font-weight:500 ;
                                text-decoration: none;
                            }
                        }
                        li:hover{
                            background:#FFFF00;
                        }
                        li:hover a{
                            color: #000;
                        }
                        li:last-child{
                            margin-right: 0;                            
                        }
                        
                    }
                }
            }
        }

        .hero-banner{
            
            #carouselExampleIndicators{
                position: relative;
                height: 30vh;

                .carousel-inner
                {
                    img{
                        height: 35vh;
                    }
                }
                
                a{
                    background: yellow !important;
                    border-radius: 50% !important;
                    width: 50px;
                    height: 50px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding:10px;

                    img{
                        margin: 0 auto;
                        padding:10px 0;
                        width: 80%;
                        color: #000;
                    }
                    
                }
                .carousel-control-prev{
                left:50px;
                }
                .carousel-control-next{
                    right:50px;
                }
            }
        }
        .main{
            position: relative;
            width: 70%;
            margin: 0 auto;
            .image1{
                position: absolute;
                top: -80px;
                right: 60px;
                width: 150px;
                height: 150px;
            }

            .wrapper_main{
                display: flex;
                margin: 60px auto;
                justify-content: space-between;
                // border:1px solid;
                .content_left{
                    flex-basis: 45%;
                    .content_block{
                        margin:60px 0; 

                        .title{
                            position: relative;
                            display: flex;
                            align-items: center;
                            // justify-content: flex-end;
                            // border:1px solid;
                            // width: 300px;

                            img{
                                position: absolute;
                                z-index: -1;
                                left: -80px;
                                width: 200px;
                                height: 100px;
                            }

                            .title_text h2{
                                font-size: 25px;
                                color: #FF1D25;
                                line-height: 40px;
                                font-weight: 800;
                            }
                        }

                        .post_content{
                            margin:60px 0;

                            p{
                                font-weight: 600;
                                color: #000;
                                font-size: 16px;
                            }
                            
                            
                        }
                    }
                    .content_block:first-child{
                        margin:0;
                    }

                    .illustDesign{
                        img{
                            width: 90%;
                            height:40px;
                        } 
                    }
                }
                
                .content_right{
                    flex-basis: 45%;
                    .post_content_right{
                        margin: 140px 0;

                        .title{
                            h2{
                                font-size: 25px;
                                color: #FF1D25;
                                line-height: 40px;
                                font-weight: 800;
                            }
                            
                        }
                        .gallery_box{
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            width: 310px;

                            img{
                                flex-basis: 40%;
                                height: 150px;
                                margin: 5px 0px;
                            }
                        }
                        .view_btn{
                            background: #FFFF00;
                            color: #000;
                            font-size: 18px;
                            font-weight: 600;
                        }
                        .illustDesign{
                            img{
                                width: 90%;
                                height:40px;
                            } 
                        }
                    }
                }
            }

            
        }
        .footer{
            // height: 25vh;
            background: #FF1D25;
            margin: 150px 0 0 0;
            position: relative;
            padding: 30px 50px 0 50px;
            z-index: -1;
            // overflow: hidden;

            .image1{
                position: absolute;
                top: -50px;
                width: 100px;
                height: 100px;
                opacity: 0.5;
                left: 100px;
                z-index: 1;
            }
            
            .footer_wrapper{
                width: 80%;
                margin: 0 auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                overflow: hidden;

                .image2{
                    position: absolute;
                    bottom: -90px;
                    width: 200px;
                    height: 200px;
                    opacity: 0.5;
                    right: 10%;
                    z-index: 1;
                    opacity: 0.4;
                }
                .footer_content_left{
                    flex: 2;
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 18px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .footer_content_right{
                    flex: 1;
                    position: relative;
                    z-index: 10;
                    h3{
                        color: #fff;
                        font-size: 18px;
                        font-weight: bold;
                        padding:3px 10px;
                    }
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 22px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }     
        }
    }
}

@media only screen and (min-width:768px) and (max-width:899px){
    .wrapper{
        
        .sidebar{
            display: none;
        }

        .header{
            height: 8vh;
            
            .navbar_wrapper{
                display: flex;
                height: 100%;
                padding: 0 20px;
                align-items: flex-end;

                .navbar_logo{
                    flex-basis: 10%;
                    position: relative;
                    height: 100%;

                    .logo_wrap{
                        width: 80px;
                        height: 80px;
                        border:2px solid #FF1D25;
                        border-radius: 50%;
                        position: absolute;
                        top: 20%;
                        left: 60%;
                        transform: translateX(-50%);
                        overflow: hidden;
                        z-index: 1000;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .navbar_menu{
                    flex-basis: 80%;
                    .small_device_nav_icon{
                        display: none;
                    }
                    ul{
                        display: flex;
                        list-style: none;
                        // border:1px solid;
                        justify-content: flex-end;

                        li{
                            padding:5px 5px;
                            margin: 0 5px;
                            border-radius: 20px;

                            a{
                                font-weight:500 ;
                                text-decoration: none;
                            }
                        }
                        li:hover{
                            background:#FFFF00;
                        }
                        li:hover a{
                            color: #000;
                        }
                        li:last-child{
                            margin-right: 0;                            
                        }
                        
                    }
                }
            }
        }

        .hero-banner{
            
            #carouselExampleIndicators{
                position: relative;
                height: 25vh;
                overflow: hidden;

                .carousel-inner
                {
                    img{
                        height: 30vh;
                    }
                }
                
                a{
                    background: yellow !important;
                    border-radius: 50% !important;
                    width: 40px;
                    height: 40px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding:10px;

                    img{
                        margin: 0 auto;
                        padding:10px 0;
                        width: 80%;
                        color: #000;
                    }
                    
                }
                .carousel-control-prev{
                left:50px;
                }
                .carousel-control-next{
                    right:50px;
                }
            }
        }
        .main{
            position: relative;
            width: 70%;
            margin: 0 auto;
            .image1{
                position: absolute;
                top: -60px;
                right: 10px;
                width: 100px;
                height: 100px;
            }

            .wrapper_main{
                display: flex;
                flex-direction: column;
                margin: 30px auto;
                justify-content: space-between;
                // border:1px solid;
                .content_left{

                    .content_block{
                        margin:60px 0; 

                        .title{
                            position: relative;
                            display: flex;
                            align-items: center;
                            // justify-content: flex-end;
                            // border:1px solid;
                            // width: 300px;

                            img{
                                position: absolute;
                                z-index: -1;
                                left: -80px;
                                width: 180px;
                                height: 90px;
                            }

                            .title_text h2{
                                font-size: 22px;
                                color: #FF1D25;
                                line-height: 30px;
                                font-weight: 800;
                            }
                        }

                        .post_content{
                            margin:30px 0;

                            p{
                                font-weight: 600;
                                color: #000;
                                font-size: 16px;
                            }
                            
                            
                        }
                    }
                    .content_block:first-child{
                        margin:0;
                    }

                    .illustDesign{
                        img{
                            width: 70%;
                            height:40px;
                        } 
                    }
                }
                
                .content_right{
                    .post_content_right{
                        margin: 60px 0;

                        .title{
                            h2{
                                font-size: 22px;
                                color: #FF1D25;
                                line-height: 30px;
                                font-weight: 800;
                            }
                            
                        }
                        .gallery_box{
                            display: flex;
                            flex-wrap: wrap;
                            margin: 20px 0 0 0;
                            img{
                                width: 100px;
                                height: 100px;
                                margin: 3px 3px;
                            }
                        }
                        .view_btn{
                            background: #FFFF00;
                            color: #000;
                            font-size: 15px;
                            font-weight: 600;
                        }
                        .illustDesign{
                            img{
                                width: 70%;
                                height:40px;
                            } 
                        }
                    }
                }
            }

            
        }
        .footer{
            // height: 25vh;
            background: #FF1D25;
            margin: 150px 0 0 0;
            position: relative;
            padding: 30px 50px 0 50px;
            z-index: -1;
            // overflow: hidden;

            .image1{
                position: absolute;
                top: -40px;
                width: 80px;
                height: 80px;
                opacity: 0.5;
                left: 70px;
                z-index: 1;
            }
            
            .footer_wrapper{
                width: 80%;
                margin: 0 auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                overflow: hidden;

                .image2{
                    position: absolute;
                    bottom: -90px;
                    width: 200px;
                    height: 200px;
                    opacity: 0.5;
                    right: 10%;
                    z-index: 1;
                    opacity: 0.4;
                }
                .footer_content_left{
                    flex: 2;
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .footer_content_right{
                    flex: 1;
                    position: relative;
                    z-index: 10;
                    h3{
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        padding:3px 10px;
                    }
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }     
        }
    }
}

@media only screen and (min-width:425px) and (max-width:767px){
    html{
        overflow-x: hidden;
    }
    .wrapper{
        position: relative;
        .sidebar{
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            height: 100vh;
            z-index: 1000;
            background-image: linear-gradient(0deg, rgb(94, 5, 4),rgb(253, 19, 61));
            transform: translateX(250px);
            transition: transform 0.36s ease-in-out;

            .close_sidebar{
                margin: 20px 0px;
                padding: 0 30px;
                text-align: right;
                

                i{
                    font-size: 30px;
                    color: #ffff;
                }
            }

            ul{
                list-style: none;

                li{
                    padding:15px 20px;
                    
                    // trans;
                    a{
                        color: #fff;
                        
                    }
                }
                li.active a{
                    color: #000;
                }
            }
        }

        @keyframes fadeIn{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

        .sidebar.active{
            transform: translateX(0px);
            
            li{
                a{
                    animation-name: fadeIn;
                    animation-duration: 2s;
                }
            }
        }

        .header{
            height: 6vh;
            
            .navbar_wrapper{
                display: flex;
                height: 100%;
                padding: 0 20px;
                align-items: flex-end;
                justify-content: space-between;
                .navbar_logo{
                    flex-basis: 10%;
                    position: relative;
                    height: 100%;

                    .logo_wrap{
                        width: 70px;
                        height: 70px;
                        border:2px solid #FF1D25;
                        border-radius: 50%;
                        position: absolute;
                        top: 20%;
                        left: 60%;
                        transform: translateX(-50%);
                        overflow: hidden;
                        z-index: 1000;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .navbar_menu{
                    flex-basis: 80%;
                    
                    ul{
                        display: none;
                        list-style: none;
                        // border:1px solid;
                        justify-content: flex-end;

                        li{
                            padding:5px 5px;
                            margin: 0 5px;
                            border-radius: 20px;

                            a{
                                font-weight:500 ;
                                text-decoration: none;
                            }
                        }
                        li:hover{
                            background:#FFFF00;
                        }
                        li:hover a{
                            color: #000;
                        }
                        li:last-child{
                            margin-right: 0;                            
                        }
                        
                    }
                    .small_device_nav_icon{
                        // border:1px solid;
                        text-align: right;
                        font-size: 30px;
                        color: #FF1D25;
                        padding: 0 20px;
                    }
                }
            }
        }

        .hero-banner{
            
            #carouselExampleIndicators{
                position: relative;
                height: 20vh;

                .carousel-inner
                {
                    height: 100%;
                }
                
                a{
                    background: yellow !important;
                    border-radius: 50% !important;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding:10px;

                    img{
                        margin: 0 auto;
                        padding:10px 0;
                        width: 80%;
                        color: #000;
                    }
                    
                }
                .carousel-control-prev{
                    left:30px;
                }
                .carousel-control-next{
                    right:30px;
                }
            }
        }
        .main{
            position: relative;
            width: 70%;
            margin: 0 auto;
            .image1{
                position: absolute;
                top: -60px;
                right: 0px;
                width: 80px;
                height: 80px;
            }

            .wrapper_main{
                display: flex;
                flex-direction: column;
                margin: 30px auto;
                justify-content: space-between;
                // border:1px solid;
                .content_left{

                    .content_block{
                        margin:60px 0; 

                        .title{
                            position: relative;
                            display: flex;
                            align-items: center;
                            // justify-content: flex-end;
                            // border:1px solid;
                            // width: 300px;

                            img{
                                position: absolute;
                                z-index: -1;
                                left: -50px;
                                width: 120px;
                                height: 60px;
                            }

                            .title_text h2{
                                font-size: 20px;
                                color: #FF1D25;
                                line-height: 20px;
                                font-weight: 800;
                            }
                        }

                        .post_content{
                            margin:60px 0;

                            p{
                                font-weight: 600;
                                color: #000;
                                font-size: 16px;
                            }
                            
                            
                        }
                    }
                    .content_block:first-child{
                        margin:0;
                    }

                    .illustDesign{
                        img{
                            width: 100%;
                            height:30px;
                        } 
                    }
                }
                
                .content_right{
                    .post_content_right{
                        margin: 60px 0;

                        .title{
                            h2{
                                font-size: 20px;
                                color: #FF1D25;
                                line-height: 25px;
                                font-weight: 800;
                            }
                            
                        }
                        .gallery_box{
                            display: flex;
                            flex-wrap: wrap;
                            // border: 1px solid;
                            img{
                                width: 90px;
                                height: 90px;
                                margin: 5px 3px;
                            }
                        }
                        .view_btn{
                            background: #FFFF00;
                            color: #000;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .illustDesign{
                            img{
                                width: 100%;
                                height:30px;
                            } 
                        }
                    }
                }
            }

            
        }
        .footer{
            // height: 25vh;
            background: #FF1D25;
            margin: 100px 0 0 0;
            position: relative;
            padding: 30px 15px 0 15px;
            z-index: -1;
            // overflow: hidden;

            .image1{
                position: absolute;
                top: -30px;
                width: 60px;
                height: 60px;
                opacity: 0.5;
                left: 30px;
                z-index: 1;
            }
            
            .footer_wrapper{
                width: 100%;
                margin: 0 auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                overflow: hidden;

                .image2{
                    position: absolute;
                    bottom: -30px;
                    width: 120px;
                    height: 120px;
                    opacity: 0.5;
                    right: 5%;
                    z-index: 1;
                    opacity: 0.4;
                }
                .footer_content_left{
                    flex: 2;
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .footer_content_right{
                    flex: 1;
                    position: relative;
                    z-index: 10;
                    h3{
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        padding:3px 10px;
                    }
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }     
        }
    }
}

@media only screen and (min-width:375px) and (max-width:424px){
    html{
        overflow-x: hidden;
    }
    .wrapper{
        position: relative;
        .sidebar{
            position: absolute;
            top: 0;
            right: 0;
            width: 250px;
            height: 100vh;
            z-index: 1000;
            background-image: linear-gradient(0deg, rgb(94, 5, 4),rgb(253, 19, 61));
            transform: translateX(260px);
            -webkit-transform: translateX(260px);
            transition: transform 0.36s ease-in-out;
            -webkit-transition: transform 0.36s ease-in-out;

            .close_sidebar{
                margin: 20px 10px;
                text-align: right;
                

                i{
                    font-size: 30px;
                    color: #ffff;
                }
            }

            ul{
                list-style: none;

                li{
                    padding:15px 20px;
                    
                    // trans;
                    a{
                        color: #fff;
                        
                    }
                }
                li.active a{
                    color: #000;
                }
            }
        }

        @keyframes fadeIn{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

        .sidebar.active{
            transform: translateX(0px);
            -webkit-transform: translateX(0px);
            li{
                a{
                    animation-name: fadeIn;
                    animation-duration: 2s;
                    -webkit-animation-name: fadeIn;
                    -webkit-animation-duration: 2s;

                }
            }
        }

        .header{
            height: 6vh;
            
            .navbar_wrapper{
                display: flex;
                height: 100%;
                padding: 0 20px;
                align-items: flex-end;
                justify-content: space-between;
                .navbar_logo{
                    flex-basis: 10%;
                    position: relative;
                    height: 100%;

                    .logo_wrap{
                        width: 70px;
                        height: 70px;
                        border:2px solid #FF1D25;
                        border-radius: 50%;
                        position: absolute;
                        top: 20%;
                        left: 60%;
                        transform: translateX(-50%);
                        overflow: hidden;
                        z-index: 1000;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .navbar_menu{
                    flex-basis: 80%;
                    
                    ul{
                        display: none;
                        list-style: none;
                        // border:1px solid;
                        justify-content: flex-end;

                        li{
                            padding:5px 5px;
                            margin: 0 5px;
                            border-radius: 20px;

                            a{
                                font-weight:500 ;
                                text-decoration: none;
                            }
                        }
                        li:hover{
                            background:#FFFF00;
                        }
                        li:hover a{
                            color: #000;
                        }
                        li:last-child{
                            margin-right: 0;                            
                        }
                        
                    }
                    .small_device_nav_icon{
                        // border:1px solid;
                        text-align: right;
                        font-size: 30px;
                        color: #FF1D25;
                    }
                }
            }
        }

        .hero-banner{
            
            #carouselExampleIndicators{
                position: relative;
                height: 18vh;

                .carousel-inner
                {
                    height: 100%;
                }
                
                a{
                    background: yellow !important;
                    border-radius: 50% !important;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding:10px;

                    img{
                        margin: 0 auto;
                        padding:10px 0;
                        width: 80%;
                        color: #000;
                    }
                    
                }
                .carousel-control-prev{
                    left:30px;
                }
                .carousel-control-next{
                    right:30px;
                }
            }
        }
        .main{
            position: relative;
            width: 75%;
            margin: 0 auto;
            .image1{
                position: absolute;
                top: -40px;
                right: 0px;
                width: 60px;
                height: 60px;
            }

            .wrapper_main{
                display: flex;
                flex-direction: column;
                margin: 10px auto;
                justify-content: space-between;
                // border:1px solid;
                .content_left{

                    .content_block{
                        margin:30px 0; 

                        .title{
                            position: relative;
                            display: flex;
                            align-items: center;
                            // justify-content: flex-end;
                            // border:1px solid;
                            // width: 300px;

                            img{
                                position: absolute;
                                z-index: -1;
                                left: -40px;
                                width: 120px;
                                height: 60px;
                            }

                            .title_text h2{
                                font-size: 20px;
                                color: #FF1D25;
                                line-height: 20px;
                                font-weight: 800;
                            }
                        }

                        .post_content{
                            margin:30px 0;

                            p{
                                font-weight: 600;
                                color: #000;
                                font-size: 16px;
                            }
                            
                            
                        }
                    }
                    .content_block:first-child{
                        margin:0;
                    }

                    .illustDesign{
                        img{
                            width: 100%;
                            height:30px;
                        } 
                    }
                }
                
                .content_right{
                    .post_content_right{
                        margin: 60px 0;

                        .title{
                            h2{
                                font-size: 20px;
                                color: #FF1D25;
                                line-height: 25px;
                                font-weight: 800;
                            }
                            
                        }
                        .gallery_box{
                            display: flex;
                            flex-wrap: wrap;
                            // border: 1px solid;
                            margin: 20px 0 0 0;
                            img{
                                width: 80px;
                                height: 80px;
                                margin: 5px 3px;
                            }
                        }
                        .view_btn{
                            background: #FFFF00;
                            color: #000;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .illustDesign{
                            img{
                                width: 100%;
                                height:30px;
                            } 
                        }
                    }
                }
            }

            
        }
        .footer{
            // height: 25vh;
            background: #FF1D25;
            margin: 100px 0 0 0;
            position: relative;
            padding: 30px 15px 0 15px;
            z-index: -1;
            // overflow: hidden;

            .image1{
                position: absolute;
                top: -30px;
                width: 60px;
                height: 60px;
                opacity: 0.5;
                left: 30px;
                z-index: 1;
            }
            
            .footer_wrapper{
                width: 100%;
                margin: 0 auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                overflow: hidden;

                .image2{
                    position: absolute;
                    bottom: -30px;
                    width: 120px;
                    height: 120px;
                    opacity: 0.5;
                    right: 5%;
                    z-index: 1;
                    opacity: 0.4;
                }
                .footer_content_left{
                    flex: 2;
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
                .footer_content_right{
                    flex: 1;
                    position: relative;
                    z-index: 10;
                    h3{
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        padding:3px 10px;
                    }
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }     
        }
    }
}

@media only screen and (min-width:320px) and (max-width:374px){
    html{
        overflow-x: hidden;
    }
    .wrapper{
        position: relative;
        .sidebar{
            position: absolute;
            top: 0;
            right: 0;
            width: 200px;
            height: 100vh;
            z-index: 1000;
            background-image: linear-gradient(0deg, rgb(94, 5, 4),rgb(253, 19, 61));
            transform: translateX(260px);
            transition: transform 0.36s ease-in-out;

            .close_sidebar{
                margin: 20px 10px;
                text-align: right;
                

                i{
                    font-size: 20px;
                    color: #ffff;
                }
            }

            ul{
                list-style: none;

                li{
                    padding:15px 20px;
                    
                    // trans;
                    a{
                        color: #fff;
                        font-size: 14px;
                    }
                }
                li.active a{
                    color: #000;
                }
            }
        }

        @keyframes fadeIn{
            0%{
                opacity: 0;
            }
            100%{
                opacity: 1;
            }
        }

        .sidebar.active{
            transform: translateX(0px);
            
            li{
                a{
                    animation-name: fadeIn;
                    animation-duration: 2s;
                }
            }
        }
        .header{
            height: 6vh;
            
            .navbar_wrapper{
                display: flex;
                height: 100%;
                padding: 0 20px;
                align-items: flex-end;
                justify-content: space-between;
                .navbar_logo{
                    flex-basis: 10%;
                    position: relative;
                    height: 100%;

                    .logo_wrap{
                        width: 50px;
                        height: 50px;
                        border:2px solid #FF1D25;
                        border-radius: 50%;
                        position: absolute;
                        top: 40%;
                        left: 60%;
                        transform: translateX(-50%);
                        overflow: hidden;
                        z-index: 1000;
                        img{
                            width: 100%;
                            height: 100%;
                        }
                    }
                }
                .navbar_menu{
                    flex-basis: 80%;
                    
                    ul{
                        display: none;
                        list-style: none;
                        // border:1px solid;
                        justify-content: flex-end;

                        li{
                            padding:5px 5px;
                            margin: 0 5px;
                            border-radius: 20px;

                            a{
                                font-weight:500 ;
                                text-decoration: none;
                            }
                        }
                        li:hover{
                            background:#FFFF00;
                        }
                        li:hover a{
                            color: #000;
                        }
                        li:last-child{
                            margin-right: 0;                            
                        }
                        
                    }
                    .small_device_nav_icon{
                        // border:1px solid;
                        text-align: right;
                        font-size: 30px;
                        color: #FF1D25;
                    }
                }
            }
        }

        .hero-banner{
            
            #carouselExampleIndicators{
                position: relative;
                height: 16vh;

                .carousel-inner
                {
                    height: 100%;
                }
                
                a{
                    background: yellow !important;
                    border-radius: 50% !important;
                    width: 30px;
                    height: 30px;
                    position: absolute;
                    top: 50%;
                    transform: translateY(-50%);
                    padding:10px;

                    img{
                        margin: 0 auto;
                        padding:10px 0;
                        width: 80%;
                        color: #000;
                    }
                    
                }
                .carousel-control-prev{
                    left:30px;
                }
                .carousel-control-next{
                    right:30px;
                }
            }
        }
        .main{
            position: relative;
            width: 75%;
            margin: 0 auto;
            .image1{
                position: absolute;
                top: -40px;
                right: 0px;
                width: 40px;
                height: 40px;
            }

            .wrapper_main{
                display: flex;
                flex-direction: column;
                margin: 10px auto;
                justify-content: space-between;
                // border:1px solid;
                .content_left{

                    .content_block{
                        margin:30px 0; 

                        .title{
                            position: relative;
                            display: flex;
                            align-items: center;
                            // justify-content: flex-end;
                            // border:1px solid;
                            // width: 300px;

                            img{
                                position: absolute;
                                z-index: -1;
                                left: -30px;
                                width: 80px;
                                height: 45px;
                                // opacity: 0.6;
                            }

                            .title_text h2{
                                font-size: 18px;
                                color: #FF1D25;
                                line-height: 18px;
                                font-weight: 800;
                            }
                        }

                        .post_content{
                            margin:30px 0;

                            p{
                                font-weight: 600;
                                color: #000;
                                font-size: 16px;
                            }
                            
                            
                        }
                    }
                    .content_block:first-child{
                        margin:0;
                    }

                    .illustDesign{
                        img{
                            width: 100%;
                            height:30px;
                        } 
                    }
                }
                
                .content_right{
                    .post_content_right{
                        margin: 60px 0;

                        .title{
                            h2{
                                font-size: 20px;
                                color: #FF1D25;
                                line-height: 25px;
                                font-weight: 800;
                            }
                            
                        }
                        .gallery_box{
                            display: flex;
                            flex-wrap: wrap;
                            // border: 1px solid;
                            margin: 20px 0 0 0;
                            img{
                                width: 60px;
                                height: 60px;
                                margin: 3px 3px;
                            }
                        }
                        .view_btn{
                            background: #FFFF00;
                            color: #000;
                            font-size: 14px;
                            font-weight: 600;
                        }
                        .illustDesign{
                            img{
                                width: 100%;
                                height:30px;
                            } 
                        }
                    }
                }
            }

            
        }
        .footer{
            // height: 25vh;
            background: #FF1D25;
            margin: 100px 0 0 0;
            position: relative;
            padding: 30px 15px 0 15px;
            z-index: -1;
            // overflow: hidden;

            .image1{
                position: absolute;
                top: -30px;
                width: 60px;
                height: 60px;
                opacity: 0.5;
                left: 30px;
                z-index: 1;
            }
            
            .footer_wrapper{
                width: 100%;
                margin: 0 auto;
                height: 100%;
                display: flex;
                align-items: center;
                position: relative;
                z-index: 2;
                overflow: hidden;

                .image2{
                    position: absolute;
                    bottom: -30px;
                    width: 120px;
                    height: 120px;
                    opacity: 0.5;
                    right: 5%;
                    z-index: 1;
                    opacity: 0.4;
                }
                .footer_content_left{
                    flex: 2;
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                } 
                .footer_content_right{
                    flex: 1;
                    position: relative;
                    z-index: 10;
                    h3{
                        color: #fff;
                        font-size: 16px;
                        font-weight: bold;
                        padding:3px 10px;
                    }
                    ul{
                        list-style: none;
                        li{
                            padding:3px 10px;
                            a{
                                color: #fff;
                                font-size: 16px;
                                font-weight: bold;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }     
        }
    }
}